<div class="container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field class="form-group">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field class="form-group">
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    <span>Login : oui, password : oui</span>
    <span id="connection-info" *ngIf="connectionError" style="color: red;">{{ connectionError }}</span>
</div>
